<div class="container mt-4">
  <h2 class="directory-path">
    <span>Current Directory: </span>
    <span (click)="onPathClick(0)" class="path-part">/</span>
    <span *ngFor="let segment of getPathSegments(); let i = index" (click)="onPathClick(i + 1)" class="path-part">
      {{ segment }} /
    </span>
  </h2>
  <button (click)="goBack()" [disabled]="history.length <= 1" class="btn btn-secondary mb-3">
    Back
  </button>
  <div class="file-explorer">
    <div *ngFor="let file of files$ | async" (click)="file.isDirectory && onDirectorySelect(file.path)" class="file-item">
<!--      <fa-icon [icon]="file.isDirectory ? faFolder : faFile" class="file-icon"></fa-icon>-->
      <span class="file-name">{{ file.name }}</span>
    </div>
  </div>

  <div class="pagination">
    <button (click)="onPageChange(currentOffset - limit)" [disabled]="currentOffset === 0" class="btn btn-primary">
      Previous
    </button>
    <button (click)="onPageChange(currentOffset + limit)" class="btn btn-primary" [disabled]="this.fileLength < 25">
      Next
    </button>
  </div>
</div>
